@model IEnumerable<RealEstateWebApp.Models.AdvertisimentLand>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



    <div class="container" style="margin-top: 100px; margin-bottom: 50px;">
    
        @foreach (var item in Model) {

            <div class="col-md-4 item-block animate-box" data-animate-effect="fadeIn">
                <div class="fh5co-property">
                    <figure>
                        <img src="/wwwroot/images/land.jpg" alt="Free Website Templates FreeHTML5.co" class="img-responsive">
                        <a href="#" class="tag">@item.Land.SellType</a>
                    </figure>
                    <div class="fh5co-property-innter">
                        <h3><a href="#">@item.Title</a></h3>
                        <div class="price-status">
                            <span >@item.Land.SquarePrice<span class="per">/m2</span> </span>
                        </div>
                        <p>@item.Explanation</p>
                    </div>
                </div>
            </div>
        }


    </div>



