@model IEnumerable<RealEstateWebApp.Models.AdvertisimentLand>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <li style="background-image: url(/wwwroot/images/home_index.jpg);">
        <div class="container">
            <div class="col-md-12 text-center js-fullheight fh5co-property-brief slider-text">
                <div class="fh5co-property-brief-inner">
                    <div class="fh5co-box">
		   						
                        <h3><a href="#">Villa In Hialeah, Dade County</a></h3>
                        <div class="price-status">
                            <span class="price">$540,000 <a href="#" class="tag">For Sale</a></span>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque dicta magni amet atque doloremque velit unde adipisci omnis hic quaerat.</p>

                        <p class="fh5co-property-specification">
                            <span><strong>3500</strong> Sq Ft</span>  <span><strong>3</strong> Beds</span>  <span><strong>3.5</strong> Baths</span>  <span><strong>2</strong> Garages</span>
                        </p>

                        <p><a href="#" class="btn btn-primary">Learn more</a></p>
									
	                        
                    </div>
                </div>
            </div>
        </div>
    </li>
</div>

@Html.Action("LandPartial", "Home")