@model IEnumerable<RealEstateWebApp.Models.AdvertisimentLand>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="/wwwroot/css/bootstrap.css">
<div>
    <div style="background-image: url(/wwwroot/images/home_index.jpg); " class="p-5 m-5">
        <div class="container" >
            <div class="col-md-12 text-center js-fullheight fh5co-property-brief slider-text ">
                <div class="fh5co-property-brief-inner">
                    <div class="fh5co-box">
                        <h3>Istanbul Homes by Istanbul Property Company</h3>
                        <p>Welcome to Istanbul.. The wonderful city that sits on both sides of the continents with its thousands of years of history,customs and warmth of its people welcomes you. And we are here to help you to find best of what Istanbul has to offer.</p>
                        <p><a href="#" class="btn btn-primary">Learn more</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Action("LandPartial", "Home")
@Html.Action("CommercialPartial","Home")
@Html.Action("ResidentialPartial","Home")

